name: main

on:
  - push
  - pull_request

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - lts/*
          - latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v5
        with:
          check-latest: true
          node-version: ${{ matrix.node-version }}
          cache: pnpm
      - run: pnpm i --frozen-lockfile
      - run: pnpm run lint

  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - lts/*
          - latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v5
        with:
          check-latest: true
          node-version: ${{ matrix.node-version }}
          cache: pnpm
      - uses: jafpsjs/action-s3@v1
        id: s3
        with:
          port: "3900"
          bucket: "garage"
      - run: pnpm i --frozen-lockfile
      - run: pnpm run build
      - run: pnpm run test
        env:
          TEST_S3_BUCKET: ${{ steps.s3.outputs.s3_bucket }}
          TEST_S3_PORT: ${{ steps.s3.outputs.s3_port }}
          TEST_S3_REGION: ${{ steps.s3.outputs.s3_region }}
          TEST_S3_ACCESS_KEY: ${{ steps.s3.outputs.s3_access_key }}
          TEST_S3_SECRET_KEY: ${{ steps.s3.outputs.s3_secret_key }}
